<%- include("partials/header"); -%>



<img src="https://image.tmdb.org/t/p/w300<%=moivePoster%>" alt="moviePoster">

<h1><%= movieTitle %> </h1>

<p><%= movieOverview %> </p>


<%- include("partials/footer"); -%>